#root, #contents {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: justify-all;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    padding: 1rem;
}